<mat-toolbar class="example-spacer" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Lorem</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>A lot of lorem</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ducimus facilis fugit nemo possimus vitae
      voluptate
      voluptatem voluptates. Accusamus ad aperiam, dolor eius facere itaque iure maiores numquam perspiciatis possimus.
      Ab
      assumenda cupiditate debitis error iste, laudantium maxime optio pariatur, possimus praesentium reiciendis totam
      vero,
      voluptatem!</p>
    <br>
    <p>Aperiam architecto aut consequuntur dolorum eum itaque maiores perspiciatis rem soluta tempore? Animi
      aspernatur aut cupiditate debitis dignissimos doloribus eaque est et, excepturi facilis hic, inventore laboriosam
      laudantium maxime necessitatibus possimus praesentium quasi qui recusandae rem sit temporibus voluptatem
      voluptatibus?
      Aliquam assumenda eligendi eos eveniet facilis fugiat laborum, maxime nam neque nisi obcaecati perferendis placeat
      possimus quia, quidem quis quisquam rem rerum, sed sunt tempore totam voluptate. Dolore fuga molestias obcaecati
      sapiente temporibus unde vero vitae. Cum incidunt maiores quaerat sapiente, sint unde!</p>
    <br>
    <p>
      Consectetur consequatur
      deserunt distinctio dolorum ea, eligendi, fugit id iusto neque quis rem temporibus ut vitae. A accusantium
      blanditiis
      consectetur cum cumque eos, expedita facilis fugit illo incidunt nam necessitatibus nihil nisi obcaecati officia
      optio
      perferendis porro quae, quasi quo quos reiciendis reprehenderit rerum sed suscipit veritatis voluptatem!
      Consequuntur
      ea enim eveniet, illo ipsam ipsum iure laudantium molestias pariatur perspiciatis ratione reiciendis ut veniam!
      Accusamus architecto cum cumque distinctio dolor doloribus eius enim esse ex id illo ipsam iste iure iusto, modi
      molestiae, nisi numquam odio officia officiis optio quae quam quibusdam quisquam recusandae sint tempore, vero!
      Aperiam ea eligendi repellendus, similique sit sunt voluptas? Eius molestias obcaecati qui sunt voluptas?
    </p>
    <br>
    <p>
      Atque
      ducimus id itaque maiores obcaecati optio ullam vitae? Ab accusamus atque beatae commodi cum dignissimos dolore
      dolorem eligendi et ex explicabo illo ipsam laboriosam, laborum minus necessitatibus nobis nulla officiis porro
      provident quidem rem veniam vitae voluptate voluptatem. Alias aliquam doloribus molestias natus totam. Architecto
      asperiores assumenda, atque consequatur dolores explicabo facere inventore itaque labore modi nemo, nihil non
      nulla
      placeat quia quo sed, sunt temporibus unde vitae. Accusantium autem deleniti maxime minus necessitatibus nostrum
      optio
      repudiandae saepe unde. Adipisci aliquam aperiam cumque deleniti deserunt dolore doloremque explicabo, in incidunt
      ipsa itaque labore libero modi nemo officia omnis quasi quia quidem quis quod quos ratione repudiandae temporibus,
      unde ut vel vitae voluptas?
    </p>
    <br>
    <p>
      Accusantium animi commodi consequatur, cumque dicta dolore dolores earum ipsa laborum
      magni, molestias, officiis placeat repudiandae totam veritatis voluptas voluptatibus! Aliquid amet beatae
      deserunt,
      facere magni quam reprehenderit sunt. Accusamus dignissimos dolores ea maiores, nesciunt obcaecati repellat
      tempora
      voluptate! Consectetur cumque, cupiditate deserunt doloribus ducimus eos error eum eveniet, maiores minus omnis,
      placeat quaerat temporibus? A aliquam aperiam autem commodi consectetur consequatur corporis cum cumque debitis
      doloremque dolores dolorum ducimus error hic illo impedit in inventore laudantium magni molestiae necessitatibus
      nemo
      nihil numquam obcaecati perferendis quia quisquam quo, quod quos repellat sed similique sit temporibus tenetur
      unde
      veniam voluptate!
    </p>

  </mat-card-content>
</mat-card>


